body {
  background-color: #f1f1;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
width: 30%;
border: 0px solid black;
margin: 5px auto;
height: 450px;
}
.container h4{
 text-align: center; 
}
.container a{
  cursor: pointer;
 }
.pass{
  margin-top: 22px;
}
.login{
  margin-top: 35px;
  width: 100%;
}
.check{
font-size: 22px;
}
.buttons{
  width: 30%;
  margin: 40px auto;
}
.log{
  width: 50%;
  background-color: white;
  border: none;
  height: 30px;
  
}
.log:hover{
  border-bottom: 2px solid brown;
}
.sideNav{
  float: left;
  width: 30%;
  border: 0px solid black;
  height: 650px;
  border-radius: 4px;
  overflow-y: auto;
  background-color: #EDD5;
}
.sideNav .search{
  width: 90%;
  margin-left: 15px;
  margin-top: 4px;
  border-radius: 10px;
}
.section{
  width: 70%;
  float: left;
  height: 640px;
  border: 0px solid salmon;
}
.head{
  width: 100%;
  height: 60px;
  background-color: #ECE5DD;
}
.body{
  border: 0px solid black;
  height:520px;
}
.foot{
  border: 0px solid blue;
  height: 75px;
}
.image{
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 100%;
  padding-top: 5px;
  float: left;
}
.imagee{
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 100%;
  padding-top: 5px;
  
}
.imagee img{
  width: 150px;
  height: 150px;
  display: block;
  border-radius: 100%;
  margin-left: 20px;
  cursor: pointer;
}
.image img{
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 100%;
  margin-left: 20px;
  cursor: pointer;
}
#message{
  border-radius: 20px;
  width: 80%;
  margin-left: 40px;
  float: left;
  text-align: justify;
}
.emojis{
  float: left;
  font-size: 25px;
  margin-top: 4px;
  margin-left: 10px;
  cursor: pointer;
}
.emoji{
  float:right;
  font-size: 25px;
  margin-top: 4px;
  margin-right: 30px;
  cursor: pointer;
}
.emoji .fa{
margin-left: 30px;
font-size: 17px;
}
.fa-microphone{
  color: violet;
}
.sender{
  width: 100%;
  margin-top: 10px;
  height: 50px;
  display:block;
  padding: 0 0 0 10px;
}
.sender .senderMessage{
  float: right;
  overflow: hidden;
  margin: 26px 20px;
  background: #ECE5DD none repeat scroll 0 0;
 color:#fff;
  border-radius: 10px;
 font-size: 14px;
 margin: 0;
 color:#666;
 padding: 6px 30px 10px 20px;
 margin-right: 12px;
}
.receiver{
  width: 100%;
  margin-top: 10px;
  height: 50px;
  display:block;
  padding: 0 0 0 10px;
}
.receiver .receiverMessage{
  float: left;
  overflow: hidden;
  margin: 26px 20px;
  background: #fff none repeat scroll 0 0;
 color:#fff;
  border-radius: 10px;
 font-size: 14px;
 margin: 0;
 color:#666;
 padding: 6px 30px 10px 20px;
 margin-right: 12px;
}
.sideHead{
  width: 100%;
  height: 60px;
  background-color: #EDD5;
}
.sideHead .fa{
  float: right;
  margin-right: 19px;
  margin-top: 10px;
  color: gray;
  cursor: pointer;
}
.userPrbtn{
  display:block;
  width: 100%;
  height: 70px;
  margin-top: 2px;
  border: none;
  background-color: #EDD5;
}
.userPrbtn .image{
  display:block;
  margin-top: 0px;
  padding-top: 0px;
  width: 2px;
  float: left;
}
.userName{
  color: #666;
  float: left;
  display: block;
  margin-left: 80px;
  width: 0%;
}
.badge{
  float: right;
  background-color: #fff;
  color: grey;
}
.paperclip{

  float: right;
  border: 1px solid #fff;
  height: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  margin-top: 44px;
  width: 0px;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  transition: 0.4s;
}
.contaiN{
  float: right;
  margin-right: 50px;
  background-color: aquamarine;
  margin-top: 20px;
  margin-right: 150px;

}
.contain{
  float: right;
  margin-right: 50px;
  background-color: aquamarine;
  margin-top: 20px;

}
.paper{
  float: right;
  margin-right: 0px;
  background-color: aquamarine;
  margin-top: 20px;
}
.paperclif{
  float:left;
  border: 1px solid #fff;
  height: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  margin-top: 44px;
  width: 0px;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  transition: 0.4s;
}
.paperclif .info{
  margin-top: 10px;
  text-align:left;
  width: 100%;
  background-color: white;
  border: none;
}
.papercli{

  float: right;
  border: 0px solid #fff;
  height: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  margin-top: 44px;
  width: 0px;
  background-color:transparent;
  border-radius: 4px;
  overflow: hidden;
  transition: 0.4s;
  
  
}
.papercli .fa{
  font-size: 18px;
   margin-top: 17px;
   cursor: pointer;
   text-align: center;
   color: white;
}
.papercli .round{
  border: 1px solid teal;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: block;
  text-align: center;
  background-color: teal;
  cursor: pointer;
}
.paperclip .info{
  margin-top: 10px;
  text-align:left;
  width: 100%;
  background-color: white;
  border: none;
}
.rightNav{
  float: right;
  width: 0%;
  border: 0px solid black;
  height: 650px;
  border-radius: 0px;
  overflow-y: auto;
  background-color: #EDD5;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  margin-top: 44px;
  background-color:#fff;
  
  border-radius: 4px;
  overflow: hidden;
  transition: 0.4s;
}
.rightNav table{
  margin-left:20px;
}
.rightNav .timeC .time{
  font-size: 18px;
}
.rightNav td{
  margin-left:20px;
}
.rightNav .timeC{
color:#ECE5DD;
padding-left: 0px;
padding-top: 12px;
}
.profileBtn{
  margin-top: 50px;
  margin-left: 40px;
  width: 100px;
  border: none;
  background-color: white;
  
}
.profileBtn:hover{
  border-bottom: 1px solid salmon;
}
.rightNav .imagee{
  text-align: center;
  margin-left: 120px;
  margin-top: 20px;
}
.rightNav .image img{
  width: 150px;
  height: 150px;
  display: block;
  border-radius: 100%;
  margin-left: 20px;
  cursor: pointer;
  
}
.close{
  font-size: 35px;
  margin-right: 6px;
}
.stateTime{
  float: left;
  margin-left:40px;
  margin-top: 10px;
}
.logo{
  margin-top: 120px;
  font-size: 200px;
}
.err{
  color: brown;
  margin-top: 0px;
  height: 2px;
  text-align: center;
  display: none;
}